@charset "utf-8";
/* CSS Document */
body{
	margin:0 auto;
	padding:0;
    background-color:#f7f7f7;
	background-repeat:repeat;
    background-attachment: fixed;
    background-position:fixed;
}
*{
	margin:0 auto;
	padding:0;
}
.clear{
	clear:both;
}
.Btn_Class
{
   float:left;
    margin:0 0 20px 10px;
     width:100px; 
     height:25px; 
     font-family:Arial;
      font-size:13px; 
      color:White; 
      background-color:#fc8332; 
      border:none; 
      cursor:pointer;
      
}
.Btn_Class:hover
{
   float:left;
    margin:0 0 20px 10px;
     width:100px; 
     height:25px; 
     font-family:Arial;
      font-size:13px; 
      color:White; 
      background-color:Aqua; 
      border:none; 
      cursor:pointer;
      transition:all 0.2s;
      

}

.button-0 {
    position: relative;
    padding: 5px 20px;
    float: left;
    font-family: 'Helvetica', cursive;
    font-size: 13px;
    color: #FFF;
    text-align:center;
    text-decoration: none;  
    background-color: #fc8332;
    /* Animation */
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    cursor:pointer;
}

.button-0:hover, 
.button-0:focus {
    text-decoration: none;
    color: #fff;
}

.button-0:active {
    transform: translate(0px,1px);
    -webkit-transform: translate(0px,1px);
}

.ph-button {
	
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;	   
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;	
    font-family: Arial;
    padding: 5px 20px 10px;
    font-size: 15px;
	
}
/*Green
==========================*/
.ph-btn-green {

    border-color: #3AC162;
	background-color: #5FCF80;

}
.ph-btn-green:hover, .ph-btn-green:focus, .ph-btn-green:active {
    background-color: #4BC970;
    border-color: #3AC162;    
}

/*Blue
==========================*/
.ph-btn-blue {

    border-color: #326E99;
    background-color: #3F8ABF;
}

.ph-btn-blue:hover, .ph-btn-blue:focus, .ph-btn-blue:active {
    background-color: #397CAC;
    border-color: #326E99;   
}

/*Grey
==========================*/
.ph-btn-grey {

     background-color: #C6CCD2;
     border-color: #AAB3BB;
}
.ph-btn-grey:hover, .ph-btn-grey:focus, .ph-btn-grey:active {
    background-color: #B8BFC7;
    border-color: #AAB3BB; 
}

/*Red
==========================*/
.ph-btn-red {

    background-color: #ED5A5A !important;
    border-color: #EA4343 !important;

}
.ph-btn-red:hover, .ph-btn-red:focus, .ph-btn-red:active {
    background: none repeat scroll 0 0 #EB4848 !important;
    border-color: #E83131 !important;    
}


/*DEMO ONLY FOR CENTER POSITION*/
.ph-container {
  
  margin: 0 auto;
  display: inline;

  
}

.ph-float {
  
  float: left;
  width: 22%;
  padding: 10px;  
  padding-top: 50px;  
  text-align: center;

}

.ph-clear {
  
  clear: both;
   
}


.btn-3 {
  background: lighten($red, 3%);  
  border: 1px solid darken($red, 4%);
  box-shadow: 0px 2px 0 darken($red, 5%), 2px 4px 6px darken($red, 2%);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

.btn-3:hover {
  background: darken($red, 1.5%);
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#fff, .2);
  color: lighten($red, 18%); 
  text-decoration: none;
  text-shadow: -1px -1px 0 darken($red, 9.5%);
  transition: all 250ms linear;
}


.wrapper{
	width:100%;
	float:left;
	background-color:#f7f5ee;
}
.white_area_lab
{
    float:left;
    width:800px;
    margin:5px 0 0 0;
}
.lab{
	float: left;

}
.lab ul{
	margin:0 auto;
	padding:0;
}
.lab ul li
{
	display:inline;
	border-right: 1px solid #34a626;

}
.lab ul li a{
	font-family:Arial;
	font-size:13px;
	color:#0a5c99;
	padding:18px;

	    text-align: center;
}
.lab ul li a:hover{
		color:#045a8c;
		text-decoration:underline;
}
.h_quicklink
{
    float:left;
    font-family:Arial;
    font-size:13px;
    color:#666;
    margin:7px 0 0 15px;
}
.h_quicklink_arrow
{
float:left;
width:23px;
height:11px;
margin:9px 0 0 12px;
}
.main-wrapper{
	width:1024px;
	margin:0 auto;
	padding:0;
    background-color:White;

}
.header{
	width:100%;
	height:28px;
	float:left;
	background-color:#77cc6d;
}
.header-one{
	width:323px;
	float:right;
	padding:5px 0 9px 0;
}
.under-menu-bg
{
    width:100%;
    float:left;
    background-image:url(../Images/undermenu.png);
}
.signin_master
{
    float:right;
    width:60px;
    height:23px;
    background-color:White;
    margin-top:-8px;
}
.signin_master:hover
{
    float:right;
    width:60px;
    height:23px;
    background-color:#e0dcdc;
    margin-top:-8px;
    cursor:pointer;
    color:White;
}

.giftcart{
	float:right;
}
.giftcart-one{
	font-family:Arial;
	font-size:12px;
	color:#666;
	margin-top:5px;
	text-align:center;
}
.giftcart-one a
{
    color:#999;
}
.giftcart-two{
	width:14px;
	height:13px;
	float:right;
	margin-right:8px;
}
.trackorder{
	float:right;
	margin-right:30px;
}
.trackorder-logo{
	font-family:Arial;
	font-size:12px;
	color:#999;
	float:right;
	margin-top:2px;
}
.myaccount{
	float:right;
	margin-right:30px;
}
.myaccount-one{
	width:15px;
	height:14px;
	float:right;
}
.myaccount-two{
		font-family:Arial;
	font-size:12px;
	color:#999;
	float:right;
	margin-top:2px;
	margin-right:8px;
}
.headerwelcome{
	width:100%;
	float:left;
	background-color:#f7f7f7;


}
.headerwelcome-one{
	width:1024px;
	float:left;
	padding:11px 0 11px 0;
}
.search{
	float:right;
}
a{
	text-decoration:none;
}
.register-area{
	float:right;
	font-family:Arial;
	font-size:12px;
	color:#FFF;
	background-color:#E69508;
	padding:5px 10px 5px 10px;
	margin:15px 0 0 0;
}
.register-area:hover{
	background-color:#FC0;
	transition:all 0.6s;
}
.login-area{
	float:right;
	font-family:Arial;
	font-size:12px;
	color:#FFF;
	background-color:#0066FF;
	padding:5px 10px 5px 10px;
	margin:15px 7px 0 0;
}
.login-area:hover{
	background-color:#09F;
	transition:all 0.6s;
}
.search-one{
	width:265px;
	float:right;
	background-color:#FFF;
	margin:7px 0 0 0;
}
.search-two{
	float:right;
	font-family:Arial;
	font-size:13px;
	color:#000;
	background-color:#e69508;
	padding:10px;
}
.search-two:hover{
	background-color:#ecc709;
}
.search-three{
	float:left;
	width:185px;
	height:33px;
	font-family:Arial;
	font-size:12px;
	color:#333;
	border:0px;
	background:none;
}
.welcome-area{
	width:234px;
	height:51px;
	color:#999;

}

.categories{
	float:left;
	margin-top:17px;
}
.categories-one{
	width:20px;
	height:19px;
	float:left;
}
.categories-two{
    float:left;
	font-family:Arial;
	font-size:15px;
	color:#FFF;
	margin-left:15px;
}
.menuarea{
	width:100%;
	float:left;
	background-color:#006cb4;

}
.addtocart{
	width:105px;
	height:33px;
	float:right;
	margin:4px 0 7px 0;

}
.addtocart_txt
{
    font-family:Arial;
    font-size:12px;
    color:Black;
    float:right;
    z-index:100;
    font-weight:bold;
}
.nav{
	float:left;
	margin-top:15px;
}
a{
}
.nav ul {
	margin:0 auto;
	padding:0;
}
.nav ul li{
	display:inline;
}
.nav ul li a{
	font-family:Arial;
	font-size:14px;
	color:#FFF;
	margin-right:45px;
}
.nav ul li a:hover{
	font-family:Arial;
	color:#FC3;
	transition: all 0.4s;
	text-decoration:underline;
}
.product{
	width:100%;
	float:left;
	background-color:#FFF;
	margin:0 0 30px 0;

}
.product-one{
	width:1024px;
	float:left;
	height:130px;

}
.product-two{
	float: left;
	margin-top:20px;
}
.product-three{
	width:500px;
	height:416px;
	float:left;
	margin-left:30px;
}
.product-four{
	width:376px;
	height:416px;
	float:left;
}
.productdetails{
	float:left;
	width:470px;
	margin:0 0 0 20px;
}
.productdetails-one{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
	color:#333;
	float:left;
    width:327px;
    font-weight:bold;

}
a{
	text-decoration:none;
}

.productdetails-two{
	font-family:Arial;
	font-size:13px;
	color:Black;
    margin-top:8px;
    float:left;
	width:327px;
	font-weight:bold;
}
.productdetails-three{
	font-family:Arial;
	font-size:13px;
	color:#999;
	float:left;
		width:327px;
		margin-top:30px;
			text-align:justify;
}
.productdetails-four{
			width:427px;
			margin-top:30px;
			float:left;

}
.selectsize{
	width:84px;
	float:left;
}
.selectsize-one{
	font-family:Arial;
	font-size:12px;
	color:#666;
}
.selectsize-two{
	width:84px;
	height:31px;
	float:left;
	margin-top:7px;
}
.quanti{
	width:84px;
	float:left;
	margin:0 0 0 60px;
}
.color{
	width:84px;
	float:left;
	margin-left:15px;
}
.color-one{
	width:84px;
	height:31px;
	float:left;
	margin-top:7px;
}
.button{
	width:470px;
	float:left;
    height:36px;
    margin-top:60px;
}
.add2cart{
	width:154px;
	height:36px;
	float:left;
}
.buy2now{
	width:154px;
	height:36px;
	float:left;
	margin:0 0 0 -10px;
}
.buy2now_2{
	width:254px;
	height:36px;
	float:left;
    margin:40px 0 0 -298px;
}
.releted{
	width:1024px;
	float:left;
	height:2px;
background-color:#333;
margin-top:35px;
}
.releted-one{
	font-family:Arial;
	font-size:14px;
	color:#333;
	float:left;
	margin-top:10px;
}
.releted-two{
	float: left;
	margin-top:25px;
	width:1024px;
}
.main-product{
	width:243px;
	height:324px;
	float:left;
	border:1px solid #e3e1e1;
}
.main-product:hover{
    border:1px solid #fdd922;
}
.main-product-one{
	width:243px;
	height:324px;
	float:left;
}
.main-product-two{
	width:243px;
	height:324px;
	float:left;
	margin-left:17px;
    border:1px solid #e3e1e1;
}
.main-product-two:hover{
	border:1px solid #fdd922;
}
.main-product-three{
	width:243px;
	height:324px;
	float:right;
	border:1px solid #e3e1e1;
}
.main-product-three:hover{
	border:1px solid #fdd922;
}
.footer{
	width:100%;
	float:left;
}
.footer-one{
	float: left;
	background-color:#222222;
	width:100%;
	height:5px;
}
.footer-two{
	float:left;
	background-color:#222222;
	width:100%;
	float:left;
}
.footer-three{
	float:left;
	width:1024px;
	padding:10px 0 10px 0;
}
.copyright-area{
	font-family:Arial;
	font-size:12px;
	color:#CCC;
	float:left;
	width:400px;
}
.companyname-area{
	font-family:Arial;
	font-size:12px;
	color:#CCC;
	float:right;
	margin-left:600px;
	margin:-1px 0 0 0;
}


*************PRODUCRTS***************

.sportsproduct{
	width:100%;
	float:left;

	margin-bottom:30px;
	background-color:#FFF;
}
.sportsproduct-one{
	width:1024px;
	float:left;

	
}
.sportsproduct-two{
	width:231px;
	float:left;
margin-top:12px;
}
.refine{
	float:left;
	width:231px;
}
.refine-one{
	width:231px;
	height:322px;
	float:left;
}
.refine-line
{
    width:220px;
    float:left;
    height:1px;
    background-color:#bfc1c2;
    margin-top:17px;
}
.refine-txt
{
    float:left;
    font-family:Arial;
    font-size:17px;
    color:#666;
    width:231px;
}
.refine-check-box
{
    float:left;
    width:231px;
    margin-top:10px;
}
.refine-check-txt
{
    font-family:Arial;
    font-size:13px;
    margin-left:5px;
}
.refine-two{
	width:231px;
	height:193px;
	float:left;
	margin-top:20px;
}
.all-product{
	width:791px;
	float:right;
}
.all-product-one{
	width:791px;
	height:41px;
	float:left;
	padding-bottom:10px;
	font-family:Bell MT;
	font-size:18px;
	text-align:center;
	font-weight:bold;
	color:#999;
	border:1px solid #bfc1c2;
}
.view-two{
	width:761px;
	float:left;
	height:41px;
	margin-top:30px;
	margin-bottom:30px;
}
.banner{
	width:1024px;
	float:left;
}
.banner-one{
	width:745px;
	height:454px;
	float:left;
	margin-top:-8px;
}
.main-home{
	width:1024px;
	margin-top:12px;

	float:left;
}
.new-arrival{
	width:265px;
	height:454px;
	float:right;
	margin-top:-8px;

}
.new-arrival-one{
	width:265px;
	height:221px;
	float:left;
}
.upcomming{
	width:265px;
	height:221px;
	float:left;
	margin-top:12px;
}
.sellingproduct{
	width:1024px;
	float:left;
	margin-top:8px;
	margin-bottom:25px;
}
.sellingproduct-one{
	width:745px;
	float:left;
}
.selling-two{
	float:left;
	background-color:#444444;
	width:745px;
}
.selling-three{
	font-family:Arial;
	font-size:15px;
	color:#FFF;
	float:left;
	margin:10px 0 10px 10px;
}
.home-product{
	width:745px;
	float:left;
}
.home-product-one{
	width:195px;
	height:303px;
	float:left;
	border:1px solid #e3e1e1;
}
.home-product-one:hover{
 border:1px solid #fdd922;
}

.home-product-two{
	width:338px;
	height:303px;
	float:left;
	margin-left:4px;
    border:1px solid #e3e1e1;
}
.home-product-two:hover{
	 border:1px solid #fdd922;
}
.home-product-three{
	width:195px;
	height:303px;
	float:right;
	border:1px solid #e3e1e1;
}
.home-product-three:hover{
    border:1px solid #fdd922;
}
.home-product-four{
	width:747px;
	height:170px;
	float:left;
	margin-top:5px;
    border:1px solid #e3e1e1;
}
.home-product-four:hover{
	border:1px solid #fdd922;
}

.sellingproduct-five{
	width:745px;
	float:left;
	margin-top:8px;
}
.home-product-twenty{
	width:745px;
	height:140px;
	float:left;

}
.popular-product{
	width:266px;
	height:343px;
	float:left;
    border:1px solid #e3e1e1;
}
.popular-product:hover{
	border:1px solid #fdd922;
}
.girhini-udyog{
	width:267px;
	height:330px;
	float:left;
	margin-top:10px;
	border:1px solid #e3e1e1;
}
.girhini-udyog:hover{
	border:1px solid #fdd922;
}

.our-philosophy{
	width:267px;
	height:324px;
	float:left;
	margin-top:10px;
	border:1px solid #e3e1e1;
}
.our-philosophy:hover{
	border:1px solid #fdd922;
}


.flop{
	width:100%;
	float:left;
	margin-top:20px;
}
.right-body{
	width:264px;
	float:right;
}
.shadow-one{
	width:100%;
	float:left;
	box-shadow:0px 1px 5px #666666;

}
.choose-grihini{
	width:1024px;
	float:left;

	margin-top:40px;
}
.choose-grihini-txt{
	font-family:Arial;
	font-size:19px;
	color:#333;
	text-align:center;
}
.choose-grihini-information{
	font-family:Arial;
	font-size:13px;
	color:#999;
	text-align:justify;
	float:left;
	margin-top:25px;
	width:1024px;
}
.choose-grihini-about{
	width:1024px;
	float:left;
	margin-top:45px;
}
.our-business{
	width:236px;
	float:left;
}
.our-business-img{
	width:236px;
	height:124px;
	float:left;
}
.our-business-txt{
	width:236px;
	float:left;
	margin-top:20px;
	font-family:Arial;
	font-size:15px;
	color:#333;
	text-align:center;
}
.our-business-txtdetail{
		width:236px;
	float:left;
	margin-top:15px;
	font-family:Arial;
	font-size:12px;
	color:#999;
	text-align:center;
}
.founder-details{
	width:310px;
	float:left;
	margin-left:130px;
}
.founder-details-img{
	width:310px;
	float:left;
}
.founder-details-txt{
	width:310px;
	float:left;
	margin-top:20px;
	font-family:Arial;
	font-size:15px;
	color:#333;
	text-align:center;
}
.founder-details-txtdetail{
		width:310px;
	float:left;
	margin-top:15px;
	font-family:Arial;
	font-size:12px;
	color:#999;
	text-align:center;
}
.our-values{
	width:222px;
	float:right;
}
.our-values-imges{
	width:222px;
	height:124px;
	float:left;
}
.our-values-txt{
	width:222px;
	float:left;
	margin-top:20px;
	font-family:Arial;
	font-size:15px;
	color:#333;
	text-align:center;
}
.our-values-txtdetail{
	width:222px;
	float:left;
	margin-top:15px;
	font-family:Arial;
	font-size:12px;
	color:#999;
	text-align:center;
}
.contact-footer{
	width:100%;
	float:left;
	margin-top:35px;
	background-color:#262626;
	background-repeat:repeat;
}
.contact-footer-final{
	width:1024px;
	float:left;
	margin-top:30px;
	margin-bottom:30px;
}
.contact-us{
	width:253px;
	float:left;
}
.contact-us-txt{
	font-family:Arial;
	font-size:16px;
	float:left;
	width:253px;
	color:#fff;
}
.address{
	width:253px;
	float:left;
	margin-top:20px;
}
.address-icon{
	width:18px;
	height:18px;
	float:left;
}
.address-details{
	width:227px;
	float:right;
}
.address-details-one{
	font-family:Arial;
	font-size:12px;
	color:#999;
}
.phone-details{
	width:253px;
	float:left;
	margin-top:10px;
}
.phone-icon{
	width:18px;
	height:18px;
	float:left;
}
.phone-details-one{
	width:227px;
	float:right;
	font-family:Arial;
	font-size:12px;
	color:#999;

}
.quick-link{
	width:120px;
	float:left;
	margin-left:80px;
}
.quick-link-txt{
	font-family:Arial;
	font-size:16px;
	float:left;
	width:120px;
	color:#fff;
}
.tab{
	float: left;
	margin-top:7px;
}
.tab ul{
	margin:0 auto;
	padding:0;
	list-style-type: none;
}
.tab ul li{
	margin-top:10px;
}
.tab ul li a{
	font-family:Arial;
	font-size:12px;
	color:#999;
}
.tab ul li a:hover{
		color:#d5d5d5;
		text-decoration:underline;
}
.submit-login{
	width:230px;
	float:right;
}
.submit-login-txt{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
	float:left;
	width:230px;
	color:#333;
}
.submit-login-txt-two{
	font-family:Arial;
	font-size:13px;
	float:left;
	width:230px;
	color:#666;
	margin-top:18px;
}
.submit-login-txtarea{
	width:230px;
	height:25px;
	float:left;
	background-color:#FFF;
	margin-top:28px;
}
.submit-login-txtfild{
	font-family:Arial;
	font-size:12px;
	color:#999;
	background:none;
	border:0px;
	width:230px;
	height:25px;
}
.singup-area{
	float:left;
	margin-top:30px;
	padding:6px 10px 6px 10px;
	background-color:#F90;
	color:#FFF;
	font-family:Arial;
	font-size:13px;
}
.singup-area:hover{
		background-color:#FC0;
		transition:all 0.6s;
}
.home-signin-area
{
    width:346px;
    height:237px;
    float:right;
}



*********REGISTER**************

.reg-main{
	width:500px;
	float:left;
	background-color:#edf8ff;
	height:500px;
	margin:0 0 0 20px;

}
.reg-toptxt{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:17px;
	color:#333;
	width:490px;
	float:left;
	margin:20px 0 0 20px;
	font-weight:bold;

}
.reg-personal-txt{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:14px;
	color:#666;
	width:490px;
	float:left;
	margin:0 0 8px 0;
	font-weight:bold;
	text-decoration:underline;

}
.reg-boxone{
	float:left;
	margin:20px 0 0 20px;
	float:left;
	width:495px;

}
.form-box-left{
	float:left;
	width:230px;
}
.form-box-right{
	float:right;
	width:230px;
}
.reg-username-txt{
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#000;
	width:230px;
}
.reg-txt-box{
	width:230px;
	float:left;
	background-color:#FFF;
	height:20px;
	margin:8px 0 0 0;
}
.reg_input_box{
	width:230px; float:left; background-color:#FFF; height:25px; margin:6px 0 0 0; border: 1px solid #dbdbdb;
}
.reg-select-box{
	width:230px; float:left; background-color:#FFF; height:25px; margin:6px 0 0 0; border: 1px solid #dbdbdb;
}
.reg-submit-btn
{
    float:left;
    width:100px;
    height:25px;
    font-family:Arial;
    font-size:13px;
    color:White;
    background-color:#fc8332;
    border:none;
}

**********DELIVERY ADDRESS*************

.del-textarea{
	width:1024px;
	float:left;
	height:30px;
	background-color:#0099CC;
}
.del-address{
	float:left;
	width:1024px;
	margin-top:30px;
}
.del-main-address{
	float:left;
	width:380px;
	margin-left:100px;
}
.del-name-area{
	width:380px;
	float:left;
}
.del-name-txt{
	float:left;
	font-family:Arial;
	font-size:14px;
	color:#333;
	margin:5px 0 0 0;
}
.del-textbox{
	width:280px;
	float:right;
	background-color:#FFF;
	height:30px;
	border:1px solid #e1e1e1;
}
.del-save-icon{
	width:280px;
	height:30px;
	float:right;
}
.del-delivery-fnt{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
	font-weight:bold;
	color:#FFF;
	float:left;
	margin:10px 0 0 100px;
}
.register-btn-sub
{
float:left;
margin:0 0 20px 0;
 width:100px; 
 height:25px; 
 font-family:Arial; 
 font-size:13px; color:White; 
 background-color:#fc8332; 
 border:none;

}


****************TRACK ORDER******************

.t_first_product
{
    float:left;
    width:1024px;
    height:250px;
    height:55px;
    background-color:Aqua;
}
.t2_bar
{
    float:left;
    width:340px;
    height:55px;
    background-color:#318ead;
}
.t2_bar_txt
{
    font-family:Arial;
    font-size:14px;
    color:White;
    text-align:center;
    margin-top:5px;

}
.t2_product_img
{
    float:left;
}
.t2_product_orderno
{
    float:left;
    width:1024px;
    height:30px;
    background-color:#51b0d0;

}
.t2_product_orderno_txt
{
    float:left;
    font-family:Arial;
    font-size:14px;
   margin:4px 0 0 10px;

}
.t2_product_orderno_progress
{
    width:600px;
    height:200px;
    float:right;
    background-color:#96d8ee;
}

.t_order_products_name_area
{
    float:left;
    width:200px;
}

.t2_bar_progress
{
    width:530px;
    float:left;
    height:30px;
    background-color:#6eafc5;
}

.t2_bar_progress_txt
{
    float:left;
    font-family:Arial;
    font-size:12px;
    color:White;
    font-weight:bold;
}
.t2_bar_progress_arrow
{
    width:39px;
    height:13px;
}





.contact_area{
	width:800px;
	background-color:#FFF;
	height:220px;
}
.contact_area-one{
	float:left;
	width:750px;
	height:130px;
	margin:20px 0 0 20px;
}
.contact_area-two{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
	width:300px;
	color:White;
	font-weight:bold;
}
.contact_area-three
{
    float:left;
    text-align:left;
	font-family:Arial;
	font-size:13px;
	color:#14547e;
	width:300px;
	font-weight:bold;
	margin-top:20px;
	margin-left:20px;
}
.contact_area-four{
	width:30px;
	height:30px;
	float:left;
}
.contact_area-five{
	font-family:Arial;
	font-size:13px;
	color:#14547e;
	float:left;
	font-weight:bold;
	font-weight:bold;
	margin:5px 0 0 15px;
}
.contact-email-icon{
	float:right;
	margin:38px 100px 0 0;
}
.contact-ribbon{
	width:800px;
	height:72px;
	float:left;
	position:absolute;
	margin:178px 0 0 283px;
}
.aarogya-bar-area
{
    width:225px;
    height:47px;
    float:left;
    margin:0 0 0 400px;
}

****************** OUR ORIGIN ******************















**************** ORE VALUES *******************

.ourvalues
{
    width:1024px;
    float:left;

}

.ourvalues_img
{
    float:left;
    width:400px;
    height:241px;
    margin:0 0 0 20px;
}
.ourvalues_img_right
{
    float:right;
    width:400px;
    height:241px;
    margin:0 53px 0 0;
}
.ourvalues_txt
{
    float:right;
    font-family:Arial;
    font-size:13px;
    color:#999;
    width:550px;
    height:241px;
    text-align:justify;
   margin:0 20px 0 0;
}
.ourvalues_txt_two
{
    float:right;
    font-family:Arial;
    font-size:13px;
    color:#999;
    width:982px;
    height:241px;
    text-align:justify;
   margin:0 0 0 20px;
}
.ourvalues_txt_one{
    font-family:Cambria;
    font-size:22px;
    font-weight:bold;
    color:#666;
}

*********************contact us********************

.contactus_image
{
    float:left;
    height:200px;
    width:1024px;
}
.contactus_mainarea
{
    width:1024px;
    float:left;
    background-color:White;
}
.contactus_subarea
{
    float:left;
    width:1024px;
    margin:15px 0 15px 0;
}
.contactus_subarea_one
{
    float:left;
    
    width:270px;
    height:380px;
    margin:0 0 0 15px;
}
.contactus_subarea_two
{
    float:right;
    width:700px;
    height:390px;
    margin:0 18px 0 15px;
}
.c_address_area
{
    float:left;
    width:671px;
    font-family:Cambria;
    font-size:19px;
    color:#666;
    font-weight:bold;
}
.c_address_area_fewword
{
    float:left;
    width:671px;
    font-family:Arial;
    font-size:13px;
    color:#999;
    font-weight:bold;
    margin:10px 0 10px 0 ;
}
.c_address_area_fewword_2
{
    float:left;
    width:671px;
    font-family:Arial;
    font-size:13px;
    color:#999;
    margin:10px 0 10px 0 ;
}
.c_address_pure
{
    float:left;
    font-family:Arial;
    font-size:15px;
    color:#999;
    margin:10px 0 0 0;
    width:300px;
}
.c_address_pure_two
{
    float:left;
    font-family:Arial;
    font-size:13px;
    color:#999;
    margin:10px 0 0 0;
    width:300px;
}
.c_map_area
{
    width:671px;
    height:178px;
    float:left;
    margin:15px 0 0 0;
}


*******************New Banner*********************

.banner_home_page
{
    width:100%;
    float:left;
    height:300px;
    background-color:Aqua;
}

*****************Our Origin***********************

.ourorigin_main
{
    width:1024px;
    float:left;
}
.ourorigin_main_left
{
    width:225px;
    height:350px;
    float:left;
}
.ourorigin_main_img
{
    width:225px;
    height:282px;
    margin:0 0 0 20px;
}
.ourorigin_main_txt
{
    float:left;
    font-family:Arial;
    font-size:19px;
    color:#ff6600;
    margin:15px 0 0 20px;
        width:225px;
}
.ourorigin_main_right
{
    width:750px;
    height:315px;
    float:right;
    background-image:url(../Images/ourorigin_page_right_box.png);
    margin:0 20px 0 0;
}
.ourorigin_main_right_txt
{
    width:650px;
    height:285px;
    text-align:center;
    font-family:Arial;
    font-size:13px;
    color:#666;
    font-style:oblique;
    font-weight:bold;

}


