
.main-product-one{
	width:243px;
	height:324px;
	float:left;
}
.main-product-two{
	width:243px;
	height:324px;
	float:left;
	margin-left:17px;
    border:1px solid #e3e1e1;
}
.main-product-two:hover{
	border:1px solid #fdd922;
}
.main-product-three{
	width:243px;
	height:324px;
	float:right;
	border:1px solid #e3e1e1;
}
.main-product-three:hover{
	border:1px solid #fdd922;
}
.footer{
	width:100%;
	float:left;
}
.footer-one{
	float: left;
	background-color:#3068b5;
	width:100%;
	height:5px;
}
.footer-two{
	float:left;
	background-color:#1b1b1b;
	width:100%;
	float:left;
}
.footer-three{
	float:left;
	width:1024px;
	padding:10px 0 10px 0;
}
.copyright-area{
	font-family:Arial;
	font-size:12px;
	color:#CCC;
	float:left;
}
.companyname-area{
	font-family:Arial;
	font-size:12px;
	color:#CCC;
	float:right;
	margin-left:550px;
}

*************PRODUCRTS***************

.sportsproduct{
	width:100%;
	float:left;

	margin-bottom:30px;
	background-color:#FFF;
}
.sportsproduct-one{
	width:1024px;
	float:left;
}
.sportsproduct-two{
	width:231px;
	float:left;
margin-top:12px;
}
.refine{
	float:left;
	width:231px;
}
.refine-one{
	width:231px;
	height:322px;
	float:left;
}
.refine-line
{
    width:220px;
    float:left;
    height:1px;
    background-color:#bfc1c2;
    margin-top:17px;
}
.refine-txt
{
    float:left;
    font-family:Arial;
    font-size:17px;
    color:#666;
    width:231px;
}
.refine-check-box
{
    float:left;
    width:231px;
    margin-top:10px;
}
.refine-check-txt
{
    font-family:Arial;
    font-size:13px;
    margin-left:5px;
}
.refine-two{
	width:231px;
	height:193px;
	float:left;
	margin-top:20px;
}
.all-product{
	width:791px;
	float:right;
}
.all-product-one{
	width:791px;
	height:41px;
	float:left;
	padding-bottom:10px;
	font-family:Bell MT;
	font-size:18px;
	text-align:center;
	font-weight:bold;
	color:#999;
	border:1px solid #bfc1c2;
}
.view-two{
	width:761px;
	float:left;
	height:41px;
	margin-top:30px;
	margin-bottom:30px;
}
.banner{
	width:1024px;
	float:left;
}
.banner-one{
	width:745px;
	height:454px;
	float:left;
	margin-top:-8px;
}
.main-home{
	width:1024px;
	margin-top:12px;

	float:left;
}
.new-arrival{
	width:265px;
	height:454px;
	float:right;
	margin-top:-8px;

}
.new-arrival-one{
	width:265px;
	height:221px;
	float:left;
}
.upcomming{
	width:265px;
	height:221px;
	float:left;
	margin-top:12px;
}
.sellingproduct{
	width:1024px;
	float:left;
	margin-top:8px;
	margin-bottom:25px;
}
.sellingproduct-one{
	width:745px;
	float:left;
}
.selling-two{
	float:left;
	background-color:#444444;
	width:745px;
}
.selling-three{
	font-family:Arial;
	font-size:15px;
	color:#FFF;
	float:left;
	margin:10px 0 10px 10px;
}
.home-product{
	width:745px;
	float:left;
}
.home-product-one{
	width:195px;
	height:303px;
	float:left;
	border:1px solid #e3e1e1;
}
.home-product-one:hover{
 border:1px solid #fdd922;
}

.home-product-two{
	width:338px;
	height:303px;
	float:left;
	margin-left:4px;
    border:1px solid #e3e1e1;
}
.home-product-two:hover{
	 border:1px solid #fdd922;
}
.home-product-three{
	width:195px;
	height:303px;
	float:right;
	border:1px solid #e3e1e1;
}
.home-product-three:hover{
    border:1px solid #fdd922;
}
.home-product-four{
	width:747px;
	height:170px;
	float:left;
	margin-top:5px;
    border:1px solid #e3e1e1;
}
.home-product-four:hover{
	border:1px solid #fdd922;
}

.sellingproduct-five{
	width:745px;
	float:left;
	margin-top:8px;
}
.home-product-twenty{
	width:745px;
	height:140px;
	float:left;

}
.popular-product{
	width:266px;
	height:343px;
	float:left;
    border:1px solid #e3e1e1;
}
.popular-product:hover{
	border:1px solid #fdd922;
}
.girhini-udyog{
	width:267px;
	height:330px;
	float:left;
	margin-top:10px;
	border:1px solid #e3e1e1;
}
.girhini-udyog:hover{
	border:1px solid #fdd922;
}

.our-philosophy{
	width:267px;
	height:324px;
	float:left;
	margin-top:10px;
	border:1px solid #e3e1e1;
}
.our-philosophy:hover{
	border:1px solid #fdd922;
}


.flop{
	width:100%;
	float:left;
	margin-top:20px;
}
.right-body{
	width:264px;
	float:right;
}
.shadow-one{
	width:100%;
	float:left;
	box-shadow:0px 1px 5px #666666;

}
.choose-grihini{
	width:1024px;
	float:left;

	margin-top:40px;
}
.choose-grihini-txt{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:20px;
	color:#333;
	text-align:center;
}
.choose-grihini-information{
	font-family:Arial;
	font-size:13px;
	color:#999;
	text-align:justify;
	float:left;
	margin-top:25px;
	width:1024px;
}
.choose-grihini-about{
	width:1024px;
	float:left;
	margin-top:45px;
}
.our-business{
	width:236px;
	float:left;
}
.our-business-img{
	width:236px;
	height:124px;
	float:left;
}
.our-business-txt{
	width:236px;
	float:left;
	margin-top:20px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:16px;
	color:#333;
	text-align:center;
}
.our-business-txtdetail{
		width:236px;
	float:left;
	margin-top:15px;
	font-family:Arial;
	font-size:12px;
	color:#999;
	text-align:center;
}
.founder-details{
	width:310px;
	float:left;
	margin-left:130px;
}
.founder-details-img{
	width:310px;
	float:left;
}
.founder-details-txt{
	width:310px;
	float:left;
	margin-top:20px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:16px;
	color:#333;
	text-align:center;
}
.founder-details-txtdetail{
		width:310px;
	float:left;
	margin-top:15px;
	font-family:Arial;
	font-size:12px;
	color:#999;
	text-align:center;
}
.our-values{
	width:222px;
	float:right;
}
.our-values-imges{
	width:222px;
	height:124px;
	float:left;
}
.our-values-txt{
	width:222px;
	float:left;
	margin-top:20px;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:16px;
	color:#333;
	text-align:center;
}
.our-values-txtdetail{
	width:222px;
	float:left;
	margin-top:15px;
	font-family:Arial;
	font-size:12px;
	color:#999;
	text-align:center;
}
.contact-footer{
	width:100%;
	float:left;
	margin-top:35px;
	background-image:url(../Images/footer.png);
	background-repeat:repeat;
}
.contact-footer-final{
	width:1024px;
	float:left;
	margin-top:30px;
	margin-bottom:30px;
}
.contact-us{
	width:253px;
	float:left;
}
.contact-us-txt{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
	float:left;
	width:253px;
	color:#333;
}
.address{
	width:253px;
	float:left;
	margin-top:20px;
}
.address-icon{
	width:18px;
	height:18px;
	float:left;
}
.address-details{
	width:227px;
	float:right;
}
.address-details-one{
	font-family:Arial;
	font-size:12px;
	color:#666;
}
.phone-details{
	width:253px;
	float:left;
	margin-top:10px;
}
.phone-icon{
	width:18px;
	height:18px;
	float:left;
}
.phone-details-one{
	width:227px;
	float:right;
	font-family:Arial;
	font-size:12px;
	color:#666;

}
.quick-link{
	width:120px;
	float:left;
	margin-left:80px;
}
.quick-link-txt{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
	float:left;
	width:120px;
	color:#333;
}
.tab{
	float: left;
	margin-top:7px;
}
.tab ul{
	margin:0 auto;
	padding:0;
}
.tab ul li{
	margin-top:10px;
}
.tab ul li a{
	font-family:Arial;
	font-size:12px;
	color:#666;
}
.tab ul li a:hover{
		color:#333;
		text-decoration:underline;
}
.submit-login{
	width:230px;
	float:right;
}
.submit-login-txt{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
	float:left;
	width:230px;
	color:#333;
}
.submit-login-txt-two{
	font-family:Arial;
	font-size:13px;
	float:left;
	width:230px;
	color:#666;
	margin-top:18px;
}
.submit-login-txtarea{
	width:230px;
	height:25px;
	float:left;
	background-color:#FFF;
	margin-top:28px;
}
.submit-login-txtfild{
	font-family:Arial;
	font-size:12px;
	color:#999;
	background:none;
	border:0px;
	width:230px;
	height:25px;
}
.singup-area{
	float:left;
	margin-top:30px;
	padding:6px 10px 6px 10px;
	background-color:#F90;
	color:#FFF;
	font-family:Arial;
	font-size:13px;
}
.singup-area:hover{
		background-color:#FC0;
		transition:all 0.6s;
}



*********REGISTER**************

.reg-main{
	width:500px;
	float:left;
	background-color:#edf8ff;
	height:500px;
	margin:0 0 0 20px;

}
.reg-toptxt{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:17px;
	color:#333;
	width:490px;
	float:left;
	margin:20px 0 0 20px;
	font-weight:bold;

}
.reg-personal-txt{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:14px;
	color:#666;
	width:490px;
	float:left;
	margin:0 0 8px 0;
	font-weight:bold;
	text-decoration:underline;

}
.reg-boxone{
	float:left;
	margin:20px 0 0 20px;
	float:left;
	width:495px;

}
.form-box-left{
	float:left;
	width:230px;
}
.form-box-right{
	float:right;
	width:230px;
}
.reg-username-txt{
	float:left;
	font-family:Arial;
	font-size:13px;
	color:#000;
	width:230px;
}
.reg-txt-box{
	width:230px;
	float:left;
	background-color:#FFF;
	height:20px;
	margin:8px 0 0 0;
}
.reg_input_box{
	width:230px; float:left; background-color:#FFF; height:25px; margin:6px 0 0 0; border: 1px solid #dbdbdb;
}
.reg-select-box{
	width:230px; float:left; background-color:#FFF; height:25px; margin:6px 0 0 0; border: 1px solid #dbdbdb;
}
.reg-submit-btn
{
    float:left;
    width:100px;
    height:25px;
    font-family:Arial;
    font-size:13px;
    color:White;
    background-color:#fc8332;
    border:none;
}

**********DELIVERY ADDRESS*************

.del-textarea{
	width:1024px;
	float:left;
	height:30px;
	background-color:#0099CC;
}
.del-address{
	float:left;
	width:1024px;
	margin-top:30px;
}
.del-main-address{
	float:left;
	width:380px;
	margin-left:100px;
}
.del-name-area{
	width:380px;
	float:left;
}
.del-name-txt{
	float:left;
	font-family:Arial;
	font-size:14px;
	color:#333;
	margin:5px 0 0 0;
}
.del-textbox{
	width:280px;
	float:right;
	background-color:#FFF;
	height:30px;
	border:1px solid #e1e1e1;
}
.del-save-icon{
	width:280px;
	height:30px;
	float:right;
}
.del-delivery-fnt{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
	font-weight:bold;
	color:#FFF;
	float:left;
	margin:10px 0 0 100px;
}
.register-btn-sub
{
float:left;
margin:0 0 20px 0;
 width:100px; 
 height:25px; 
 font-family:Arial; 
 font-size:13px; color:White; 
 background-color:#fc8332; 
 border:none;

}

****************TRACK ORDER******************

.t_first_product
{
    float:left;
    width:1024px;
    height:250px;
    height:55px;
    background-color:Aqua;
}
.t2_bar
{
    float:left;
    width:340px;
    height:55px;
    background-color:#318ead;
}
.t2_bar_txt
{
    font-family:Arial;
    font-size:14px;
    color:White;
    text-align:center;
    margin-top:5px;

}
.t2_product_img
{
    float:left;
}
.t2_product_orderno
{
    float:left;
    width:1024px;
    height:30px;
    background-color:#51b0d0;

}
.t2_product_orderno_txt
{
    float:left;
    font-family:Arial;
    font-size:14px;
   margin:4px 0 0 10px;

}
.t2_product_orderno_progress
{
    width:600px;
    height:200px;
    float:right;
    background-color:#96d8ee;
}

.t_order_products_name_area
{
    float:left;
    width:200px;
}

.t2_bar_progress
{
    width:530px;
    float:left;
    height:30px;
    background-color:#6eafc5;
}

.t2_bar_progress_txt
{
    float:left;
    font-family:Arial;
    font-size:12px;
    color:White;
    font-weight:bold;
}
.t2_bar_progress_arrow
{
    width:39px;
    height:13px;
}





.contact_area{
	width:800px;
	background-color:#FFF;
	height:220px;
}
.contact_area-one{
	float:left;
	width:750px;
	height:130px;
	margin:20px 0 0 20px;
}
.contact_area-two{
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:18px;
	width:300px;
	color:White;
	font-weight:bold;
}
.contact_area-three
{
    float:left;
    text-align:left;
	font-family:Arial;
	font-size:13px;
	color:#14547e;
	width:300px;
	font-weight:bold;
	margin-top:20px;
	margin-left:20px;
}
.contact_area-four{
	width:30px;
	height:30px;
	float:left;
}
.contact_area-five{
	font-family:Arial;
	font-size:13px;
	color:#14547e;
	float:left;
	font-weight:bold;
	font-weight:bold;
	margin:5px 0 0 15px;
}
.contact-email-icon{
	float:right;
	margin:38px 100px 0 0;
}
.contact-ribbon{
	width:800px;
	height:72px;
	float:left;
	position:absolute;
	margin:178px 0 0 283px;
}
.aarogya-bar-area
{
    width:225px;
    height:47px;
    float:left;
    margin:0 0 0 400px;
}

****************** OUR ORIGIN ******************
















**************** ORE VALUES *******************

.ourvalues
{
    width:1024px;
    float:left;

}

.ourvalues_img
{
    float:left;
    width:400px;
    height:241px;
}
.ourvalues_txt
{
    float:right;
    font-family:Arial;
    font-size:13px;
    color:#999;
    width:580px;
    height:241px;
    text-align:justify;
   margin:0 0 0 0;
}
.ourvalues_txt_one{
    font-family:Cambria;
    font-size:22px;
    font-weight:bold;
    color:#666;
}
